<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<body>
<h1>회원가입 페이지</h1>
<hr/>
<form action="/join" method="POST">

    <strong>Id: </strong>
    <input type="text" name="username" placeholder="Username"/> <br/>
    <strong>pw: </strong>
    <input type="password" name="password" placeholder="Password"/> <br/>
    <strong>이메일: </strong>
    <input type="email" name="email" placeholder="Email"/> <br/><br>
    <button>회원가입</button>
</form>
</body>
</html>